label#thumbnail {
    margin-bottom: 20px;
    border: 1px dashed;
    background-size: cover;
    cursor: pointer;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

label#thumbnail input {
    display: none;

}

label#thumbnail.has-thumbnail img {
    display: none;
}